*{
	-web-kit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica;
	font-size: 18px;
	margin: 0;
	line-height: 25px;
}

.line{
	background-color: #808183;
}
/* Entrance cards */

.entrance-container{
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 15px;
	width: 350px;
	font-size: 12px;
	line-height: 18px;
	height: 180px;
	display: inline-block;
	vertical-align: top;
}

.lines{
	margin: 0 0 10px 0;
	padding: 0;
	/*margin-bottom: 5px;*/
}

.label{
	color: #696265;
}



.lines li{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ccc;
	color: #000;
	text-align: center;
	font-size: 10px;
	margin-right: 5px;
	margin-bottom: 8px;

}

.lines li span {
	line-height: 30px;
}



h1 {
	color: #593C4F;
	display: inline-block;
	font-size: 20px;
}


p {
	color: #5E5961;
	padding-bottom: 15px;
}

#menu .button#express {
	margin-top: 20px;
	border-radius: 0;
	display: inline-block;
	vertical-align: -18px;
	 -moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.line[data-which-line="6 Express"], .line[data-which-line="7 Express"]{
	margin-top: 20px;
	border-radius: 0;
	display: inline-block;
	vertical-align: -13px;
	 -moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

#menu .button#express span{
	position: absolute;	
	font-size: 22px;
	-moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.line#express[data-which-line="7 Express"] span, .line#express[data-which-line="6 Express"] span{
	position: absolute;	
	margin-left: -2px;
	-moz-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.none {
	text-align: center;
	font-size: 30px;
	color: gray;
	font-style: italic;

}

.row {
	margin-left: 10px;
	padding-top: 10px;
	line-height: 23px;
}

#canvas {
	margin-left: 18px;
	margin-top: 50px;
}

#menu {
	background-color: #D9CCC1;
	width: 100%;
	height: 280px;
	margin-bottom: 30px;
	padding-top: 20px;
}

#title {
	background-color: #696265;
	height: 100px;
	padding-top: 30px;
	padding-left: 30px;
	line-height: 40px;
}

#title span{
	color: white;
	font-size: 26px;
	
	font-style: italic;
}

#menu .button {
	display: inline-block;
	font-size: 22px;
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 25px;
	padding-left: 18px;
	padding-top: 15px;
	background-color: white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: black;
}

.bottombutton {
	background-color: #696265;
	border-radius: 10px;
	color:white;
	width: 180px;
	height: 50px;
	text-align: center;
	padding-top: 13px;
	font-size: 25px;	
	display: inline-block;
}

.bottombutton:hover{
	background-color: #909797;
}

#bottommenu{
	right: 2%;
	top: 300px;
	position: absolute;
}

/* for hover states */

#menu .button:hover {
	color:white;
}

#menu .button.active {
	color:white;
}

#menu .button.blue:hover {
	background-color: #2850ad
}

#menu .button.orange:hover {
	background-color: #ff6319
}

#menu .button.yellow:hover {
	background-color: #fccc0a
}

#menu .button.lgreen:hover {
	background-color: #6cbe45
}

#menu .button.grey:hover {
	background-color: #a7a9ac
}

#menu .button.brown:hover {
	background-color: #996633
}

#menu .button.red:hover {
	background-color: #ee352e
}

#menu .button.green:hover {
	background-color: #00933c
}

#menu .button.purple:hover {
	background-color: #b933ad
}

#menu .button.dgrey:hover {
	background-color: #808183
}

/* for active states */

#menu .button.blue.active {
	background-color: #2850ad
}

#menu .button.orange.active {
	background-color: #ff6319
}

#menu .button.yellow.active {
	background-color: #fccc0a
}

#menu .button.lgreen.active {
	background-color: #6cbe45
}

#menu .button.grey.active {
	background-color: #a7a9ac
}

#menu .button.brown.active {
	background-color: #996633
}

#menu .button.red.active {
	background-color: #ee352e
}

#menu .button.green.active {
	background-color: #00933c
}

#menu .button.purple.active {
	background-color: #b933ad
}

#menu .button.dgrey.active {
	background-color: #808183
}

.line[data-which-line="1"],
.line[data-which-line="2"],
.line[data-which-line="3"]
{
	background-color: #EE352E;
	color: #fff;
}

.line[data-which-line="A"],
.line[data-which-line="C"],
.line[data-which-line="E"]
{
	background-color: #2850AD;
	color: #fff;
}

.line[data-which-line="4"],
.line[data-which-line="5"],
.line[data-which-line="6"],
.line[data-which-line="6 Express"]{
	background-color: #00933C;
	color: white;
}

.line[data-which-line="B"],
.line[data-which-line="D"],
.line[data-which-line="F"],
.line[data-which-line="M"]{
	background-color: #FF6319;
}

.line[data-which-line="N"],
.line[data-which-line="Q"],
.line[data-which-line="R"]{
	background-color: #FCCC0A;
}

.line[data-which-line="7"],
.line[data-which-line="7 Express"]{
	background-color: #b933ad;
	color: white;
}

.line[data-which-line="G"]{

}

.line[data-which-line="L"]{
	background-color: #6cbe45
}

.line[data-which-line="J"],
.line[data-which-line="Z"]{
	background-color: #996633;
	color: white;
}

.line[data-which-line="S"]{
	background-color: #808183;
	color: white ;
}

@media (max-width: 874px){
	#menu {
		height: 350px;
	}

	#bottommenu{
		top: 400px;
	}

	#title {
		height: 140px;
	}
}

@media (max-width: 660px){
	#menu {
		height: 450px;
	}

	#bottommenu{
		top: 500px;
	}

	#title {
		height: 140px;
	}
}

@media (max-width: 470px){
	#menu {
		height: 650px;
		padding-left: 5%;
	}


	#bottommenu{
		top: 630px;
		right: 0;
		margin-left: 30%;
	}

	.bottombutton{
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#title {
		height: 170px;
	}
}